# Put the data into the data directory
data
new_dataset*
img
*.zip

# Ignore Python bytecode files
.pychache
__pycache__

# Environments
.venv
venv
env

# weights and logs
weights
log_dir
logs

# tests
2025*
results-*
