# Put the data into the data directory
data
data_abstrait_test


# Ignore Python bytecode files
.pychache
__pycache__

# Environments
.venv
venv
env

# weights and logs
weights
log_dir
logs

# tests
2025*
